{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
            <div class="author">
                Posted by {{ post.author }}
            </div>
        {% if post.published_date %}

        <br>
            <div class="date">
                {{ post.published_date }}
                <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
        {% else %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk%}">
            <span class="glyphicon glyphicon-pencil"></span></a>
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}